<!DOCTYPE html>
<html>
    <head>
        <title>Ostea</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    </head>
    <body>
        <div id="content_wrapper">
            <div class="ui container">    
                <div id="top_logo">
                    <a id="ostea_brand" class="item" href="/">
                        <svg version="1.1" class="ostea_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                            <style>
                                .st0{fill:url(#SVGID_1_);}
                            </style>
                            <g>
                            	<g>
                            		<g>
                            			<g>
                            				<g>
                            					<g>
                            						<g>
                            							<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="497.1006" y1="825.4698" x2="182.9201" y2="451.044" gradientTransform="matrix(0.1383 -0.9904 0.9904 0.1383 -428.342 498.7746)">
                            								<stop  offset="0" style="stop-color:#98DAF8"/>
                            								<stop  offset="0.1712" style="stop-color:#65C9D9;stop-opacity:0.9382"/>
                            								<stop  offset="0.4328" style="stop-color:#1DB0AD;stop-opacity:0.8439"/>
                            								<stop  offset="0.5544" style="stop-color:#00A69C;stop-opacity:0.8"/>
                            								<stop  offset="1" style="stop-color:#90D4EC"/>
                            							</linearGradient>
                            							<path class="st0" d="M495.4,286.5l-95.4-13l0.4-2.7c0.4-2.8,0.7-5.6,0.9-8.4l0.2-2.7l96,7.3l-0.2,2.7
                            								c-0.4,4.7-0.9,9.4-1.5,14.2L495.4,286.5z M406.1,268.8l84.5,11.5c0.4-2.8,0.6-5.6,0.9-8.4l-85.1-6.4
                            								C406.4,266.6,406.3,267.7,406.1,268.8z M493.9,295.2l-0.5,2.7c-1,4.8-2,9.5-3.2,14l-0.7,2.7L396.3,290l0.7-2.7
                            								c0.7-2.7,1.3-5.4,1.9-8.2l0.5-2.7L493.9,295.2z M485.5,307.8c0.7-2.7,1.3-5.5,1.9-8.3l-83.7-16.6c-0.2,1.1-0.5,2.1-0.7,3.1
                            								L485.5,307.8z M497.8,258.1l-96.3-1.5l0-2.8c0-2.8,0-5.6-0.1-8.4l-0.1-2.8l96.2-4.5l0.1,2.8c0.2,4.8,0.3,9.5,0.2,14.3
                            								L497.8,258.1z M407.1,251.2l85.3,1.3c0-2.8,0-5.7-0.1-8.5l-85.2,4C407.1,249.1,407.1,250.2,407.1,251.2z M487,323l-0.9,2.6
                            								c-1.5,4.5-3.1,9-4.9,13.4l-1,2.6L390.7,306l1-2.6c1-2.6,2-5.3,2.9-8l0.9-2.6L487,323z M477.1,334.4c1-2.6,2-5.2,2.9-7.9
                            								l-81-26.7c-0.4,1-0.7,2.1-1.1,3.1L477.1,334.4z M496.8,229.5l-95.7,10.4l-0.3-2.7c-0.3-2.8-0.7-5.6-1.2-8.4l-0.4-2.7
                            								l94.9-16.2l0.5,2.7c0.8,4.7,1.5,9.4,2,14.2L496.8,229.5z M406,233.8l84.8-9.2c-0.3-2.8-0.7-5.6-1.2-8.4l-84.1,14.4
                            								C405.7,231.6,405.8,232.7,406,233.8z M476.7,349.7l-1.2,2.5c-2,4.3-4.2,8.6-6.5,12.8l-1.3,2.4L383.2,321l1.3-2.4
                            								c1.3-2.5,2.6-5,3.8-7.5l1.2-2.5L476.7,349.7z M465.5,359.9c1.3-2.5,2.6-5,3.9-7.6l-77.1-36.4c-0.5,1-1,1.9-1.5,2.9
                            								L465.5,359.9z M492.4,201.3l-93.8,21.9l-0.6-2.7c-0.6-2.7-1.3-5.4-2.2-8.1l-0.8-2.6l92.3-27.6l0.8,2.6
                            								c1.4,4.6,2.6,9.2,3.7,13.8L492.4,201.3z M402.7,216.6l83.1-19.4c-0.7-2.7-1.4-5.5-2.2-8.2l-81.7,24.5
                            								C402.1,214.5,402.4,215.5,402.7,216.6z M463.2,374.9l-1.5,2.3c-2.5,4-5.2,8-8,11.9l-1.6,2.2l-78.1-56.3l1.6-2.2
                            								c1.6-2.3,3.2-4.6,4.7-7l1.5-2.3L463.2,374.9z M450.8,383.7c1.6-2.3,3.2-4.7,4.7-7l-72.1-45.5c-0.6,0.9-1.2,1.8-1.8,2.7
                            								L450.8,383.7z M484.5,173.8l-90.5,33.1l-0.9-2.6c-1-2.6-2-5.3-3.1-7.9l-1.1-2.5l88.3-38.5l1.1,2.5c1.9,4.4,3.7,8.8,5.3,13.2
                            								L484.5,173.8z M397.3,199.8l80.1-29.3c-1-2.6-2-5.2-3.1-7.8l-78.2,34.1C396.5,197.8,396.9,198.8,397.3,199.8z M446.8,398.3
                            								l-1.7,2.1c-3,3.7-6.1,7.3-9.3,10.7l-1.9,2l-70.9-65.1l1.9-2c1.9-2.1,3.8-4.2,5.6-6.4l1.7-2.1L446.8,398.3z M433.5,405.5
                            								c1.9-2.1,3.7-4.2,5.5-6.3l-66.1-53.9c-0.7,0.8-1.4,1.7-2.2,2.5L433.5,405.5z M473.4,147.6l-85.9,43.6l-1.2-2.5
                            								c-1.3-2.5-2.6-5-4.1-7.5l-1.4-2.4l83.1-48.6l1.4,2.4c2.4,4.1,4.7,8.3,6.8,12.5L473.4,147.6z M390,183.8l76-38.6
                            								c-1.3-2.5-2.6-4.9-4-7.4l-73.6,43.1C388.9,181.9,389.4,182.8,390,183.8z M427.8,419.5l-2,1.9c-3.4,3.3-6.9,6.5-10.5,9.6
                            								l-2.1,1.8l-62.8-73.1l2.1-1.8c2.2-1.8,4.2-3.8,6.3-5.7l2-1.9L427.8,419.5z M413.8,425c2.1-1.8,4.2-3.7,6.2-5.7l-59.3-61.3
                            								c-0.8,0.8-1.6,1.5-2.5,2.2L413.8,425z M459.3,122.8l-80,53.6l-1.5-2.3c-1.6-2.4-3.3-4.8-5-7.1l-1.7-2.2l76.9-57.9l1.7,2.2
                            								c2.8,3.7,5.5,7.6,8.1,11.5L459.3,122.8z M380.8,168.8l70.9-47.4c-1.6-2.3-3.1-4.5-4.8-6.7l-68.1,51.3
                            								C379.4,166.8,380.1,167.8,380.8,168.8z M406.5,438.2l-2.2,1.7c-3.8,2.9-7.6,5.6-11.5,8.3l-2.3,1.5l-53.9-79.8l2.3-1.5
                            								c2.4-1.6,4.7-3.3,7-5l2.2-1.7L406.5,438.2z M392,442c2.3-1.6,4.5-3.2,6.8-4.9L347,369.4c-0.9,0.7-1.8,1.3-2.7,2L392,442z
                            								 M442.6,100.1l-73.5,62.2l-1.8-2.1c-1.8-2.2-3.7-4.3-5.7-6.3l-1.9-2l69.7-66.4l1.9,2c3.3,3.4,6.5,7,9.5,10.6L442.6,100.1z
                            								 M369.7,154.6l65.1-55.1c-1.8-2.1-3.7-4.2-5.6-6.2l-61.7,58.9C368.2,152.9,369,153.8,369.7,154.6z M383.2,454.3l-2.4,1.4
                            								c-4,2.4-8.1,4.7-12.3,6.9l-2.4,1.3l-44.4-85.5l2.4-1.3c2.6-1.3,5.1-2.7,7.5-4.2l2.4-1.4L383.2,454.3z M368.4,456.4
                            								c2.4-1.3,4.8-2.6,7.2-4l-43.6-73.3c-1,0.6-2,1.1-3,1.7L368.4,456.4z M423.3,79.4l-65.7,70.3l-2-1.9c-2.1-2-4.3-3.9-6.5-5.8
                            								l-2.1-1.8l61.7-73.9l2.1,1.8c3.6,3,7.1,6.1,10.5,9.3L423.3,79.4z M357.2,142l58.2-62.3c-2-1.9-4.1-3.7-6.2-5.5l-54.7,65.5
                            								C355.5,140.4,356.4,141.2,357.2,142z M358.4,467.6l-2.5,1.1c-4.3,1.9-8.6,3.7-13,5.4l-2.6,1l-34.5-89.9l2.6-1
                            								c2.7-1,5.3-2.1,8-3.3l2.5-1.1L358.4,467.6z M343.5,468c2.6-1,5.1-2.1,7.6-3.2l-35-77.8c-1,0.4-2.1,0.9-3.2,1.3L343.5,468z
                            								 M401.7,61l-57.3,77.4l-2.2-1.7c-2.3-1.7-4.7-3.4-7.2-5l-2.3-1.5l53-80.4l2.3,1.5c3.9,2.6,7.8,5.3,11.5,8L401.7,61z
                            								 M343.3,130.7L394,62.2c-2.2-1.6-4.5-3.2-6.7-4.7l-46.9,71.2C341.4,129.4,342.4,130,343.3,130.7z M332.3,478l-2.6,0.8
                            								c-4.5,1.4-9,2.8-13.5,3.9l-2.7,0.7l-24.3-93.2l2.7-0.7c2.8-0.7,5.6-1.5,8.3-2.4l2.6-0.8L332.3,478z M317.4,476.7
                            								c2.7-0.7,5.3-1.5,7.9-2.3l-26.1-81.2c-1.1,0.3-2.2,0.6-3.3,1L317.4,476.7z M378.5,45.3L330,128.6l-2.4-1.4
                            								c-2.5-1.4-5-2.8-7.5-4.1l-2.5-1.2l43.5-85.9l2.5,1.2c4.2,2.1,8.4,4.4,12.5,6.8L378.5,45.3z M328,121l42.9-73.7
                            								c-2.4-1.4-4.9-2.7-7.4-4l-38.5,76.1C326.1,120,327,120.5,328,121z M305,485.4l-2.7,0.5c-4.5,0.9-9.1,1.7-13.7,2.4l-2.7,0.4
                            								l-13.8-95.3l2.7-0.4c2.9-0.4,5.8-0.9,8.7-1.5l2.7-0.5L305,485.4z M290.5,482.4c2.7-0.4,5.4-0.9,8-1.4l-16.7-83.6
                            								c-1.2,0.2-2.4,0.4-3.5,0.6L290.5,482.4z M353.5,32.3l-38.7,88.2l-2.5-1.1c-2.6-1.2-5.3-2.3-8-3.3l-2.6-1l33.7-90.2l2.6,1
                            								c4.4,1.6,8.8,3.4,13.1,5.3L353.5,32.3z M311.9,113.2l34.3-78.1c-2.5-1.1-5.1-2.1-7.7-3.1l-29.9,79.9
                            								C309.8,112.4,310.8,112.8,311.9,113.2z M277.3,489.7l-2.7,0.2c-4.7,0.4-9.4,0.7-14.1,0.8l-2.8,0.1l-2.8-96.2l2.7-0.1
                            								c2.9-0.1,5.8-0.2,8.6-0.5l2.8-0.2L277.3,489.7z M263,485.1c2.8-0.1,5.5-0.3,8.3-0.5l-7.3-85c-1.1,0.1-2.3,0.1-3.4,0.2
                            								L263,485.1z M327.3,22.2l-28.7,91.9l-2.6-0.8c-2.7-0.9-5.5-1.6-8.3-2.3l-2.7-0.7l23.5-93.4l2.7,0.7c4.6,1.1,9.1,2.4,13.5,3.8
                            								L327.3,22.2z M294.9,107.2l25.4-81.4c-2.6-0.8-5.3-1.5-7.9-2.2l-20.8,82.7C292.7,106.6,293.8,106.9,294.9,107.2z
                            								 M249.2,490.8l-2.7-0.1c-4.6-0.1-9.3-0.4-13.9-0.7l-2.8-0.2l7.7-96l2.8,0.2c2.9,0.2,5.9,0.4,8.8,0.5l2.7,0.1L249.2,490.8z
                            								 M235.7,484.7c2.7,0.2,5.4,0.3,8.1,0.4l2.2-85.3c-1.2-0.1-2.4-0.1-3.6-0.2L235.7,484.7z M300.1,15l-18.3,94.6l-2.7-0.5
                            								c-2.7-0.5-5.5-1-8.3-1.4l-2.7-0.4l12.9-95.4l2.7,0.4c4.9,0.7,9.3,1.4,13.7,2.3L300.1,15z M277.4,103.1l16.2-83.7
                            								c-2.7-0.5-5.3-0.9-8-1.3l-11.4,84.5C275.3,102.8,276.3,103,277.4,103.1z M221.1,488.8l-3.5-0.5c-4.6-0.6-9.3-1.4-13.8-2.3
                            								l-2.7-0.5l18.5-94.5l2.7,0.5c2.8,0.6,5.7,1,8.6,1.4l2.7,0.4L221.1,488.8z M207.5,481.1c2.9,0.5,5.9,1,8.8,1.5l11.1-84.6
                            								c-1.2-0.2-2.4-0.4-3.5-0.6L207.5,481.1z M264.4,106.9l-2.7-0.2c-2.9-0.2-5.8-0.4-8.7-0.5l-2.8-0.1l2.7-96.3l2.8,0.1
                            								c4.6,0.1,9.3,0.4,14,0.8l2.8,0.2L264.4,106.9z M255.9,100.8c1.2,0.1,2.3,0.1,3.5,0.2l7.1-85c-2.7-0.2-5.5-0.4-8.2-0.5
                            								L255.9,100.8z M216.4,390.3l-23.7,93.4l-2.7-0.7c-4.6-1.2-9.1-2.4-13.5-3.8l-2.6-0.8l28.8-91.9l2.6,0.8
                            								c2.8,0.9,5.5,1.7,8.4,2.4L216.4,390.3z M188.8,476.9l21-82.7c-1.1-0.3-2.2-0.6-3.4-1l-25.5,81.4
                            								C183.5,475.5,186.1,476.2,188.8,476.9z M247,106.1l-2.8,0.1c-2.9,0.1-5.8,0.2-8.6,0.5l-2.7,0.2l-8.1-95.9l2.7-0.2
                            								c4.7-0.4,9.4-0.7,14.1-0.8l2.7-0.1L247,106.1z M237.9,101c1.1-0.1,2.3-0.1,3.4-0.2l-2.3-85.3c-2.8,0.1-5.5,0.3-8.3,0.5
                            								L237.9,101z M199.7,385.4l-33.9,90.1l-2.6-1c-4.4-1.7-8.7-3.4-13-5.3l-2.5-1.1l38.8-88.1l2.5,1.1c2.6,1.2,5.3,2.3,8.1,3.3
                            								L199.7,385.4z M162.6,468.4l30-79.8c-1.1-0.4-2.2-0.9-3.2-1.3l-34.4,78C157.5,466.4,160.1,467.4,162.6,468.4z M229.8,107.2
                            								l-2.7,0.4c-2.9,0.4-5.8,0.9-8.7,1.5l-2.7,0.5l-18.7-94.5l2.7-0.5c4.5-0.9,9.1-1.7,13.7-2.3l2.7-0.4L229.8,107.2z
                            								 M220.1,103.2c1.2-0.2,2.4-0.4,3.5-0.6l-12-84.4c-2.7,0.4-5.4,0.9-8,1.4L220.1,103.2z M183.7,378.6L140,464.5l-2.5-1.2
                            								c-4.2-2.1-8.4-4.4-12.4-6.8l-2.4-1.4l48.6-83.2l2.4,1.4c2.5,1.4,5,2.8,7.5,4.1L183.7,378.6z M137.6,457.1l38.7-76
                            								c-1-0.5-2-1.1-3-1.6l-43,73.6C132.7,454.4,135.2,455.8,137.6,457.1z M212.6,110.3l-2.7,0.7c-2.8,0.7-5.5,1.5-8.3,2.4
                            								l-2.6,0.8l-29.2-91.7l2.6-0.8c4.5-1.4,9-2.7,13.6-3.9l2.7-0.7L212.6,110.3z M202.6,107.3c1.1-0.3,2.2-0.6,3.3-0.9l-21.2-82.6
                            								c-2.7,0.7-5.3,1.5-8,2.3L202.6,107.3z M168.6,370.2l-53.2,80.3l-2.3-1.5c-3.9-2.6-7.7-5.3-11.4-8l-2.2-1.6l57.4-77.4l2.2,1.7
                            								c2.3,1.7,4.7,3.4,7.2,5L168.6,370.2z M113.9,442.9l47.1-71.1c-1-0.7-2-1.4-2.9-2.1l-50.8,68.5
                            								C109.4,439.8,111.7,441.4,113.9,442.9z M196.1,115.2l-2.6,1c-2.7,1-5.4,2.1-8,3.3l-2.5,1.1l-39.4-87.9l2.5-1.1
                            								c4.3-1.9,8.6-3.7,13-5.4l2.6-1L196.1,115.2z M185.8,113.4c1-0.4,2.1-0.9,3.2-1.3l-30.5-79.6c-2.6,1-5.1,2.1-7.6,3.2
                            								L185.8,113.4z M154.5,360.2l-61.9,73.8l-2.1-1.8c-3.6-3-7.1-6.1-10.5-9.3l-2-1.9l65.9-70.2l2,1.9c2.1,2,4.3,3.9,6.5,5.8
                            								L154.5,360.2z M92,426.1l54.8-65.3c-0.9-0.8-1.8-1.5-2.6-2.3l-58.4,62.2C87.8,422.5,89.9,424.3,92,426.1z M180.2,122.1
                            								l-2.4,1.3c-2.5,1.3-5,2.7-7.4,4.1l-2.4,1.4l-49.2-82.8l2.4-1.4c4.1-2.4,8.2-4.7,12.4-6.9l2.4-1.3L180.2,122.1z M169.9,121.3
                            								c1-0.6,1.9-1.1,2.9-1.6L133.6,44c-2.5,1.3-4.9,2.7-7.3,4.1L169.9,121.3z M141.7,348.5l-69.9,66.3l-1.9-2
                            								c-3.2-3.4-6.4-6.9-9.4-10.5l-1.8-2.1l73.5-62.2l1.8,2.1c1.9,2.2,3.8,4.4,5.8,6.5L141.7,348.5z M72.1,407l61.9-58.7
                            								c-0.8-0.9-1.5-1.7-2.3-2.6l-65.1,55.1C68.3,402.9,70.2,405,72.1,407z M165.2,130.6l-2.3,1.5c-2.4,1.6-4.7,3.3-7,5l-2.2,1.7
                            								L95.5,62.1l2.2-1.7c3.8-2.9,7.6-5.6,11.5-8.2l2.3-1.5L165.2,130.6z M154.9,131c0.9-0.7,1.8-1.3,2.7-2L110,58.3
                            								c-2.3,1.6-4.5,3.2-6.8,4.8L154.9,131z M130.4,335.6l-77.1,57.7l-1.7-2.2c-2.8-3.8-5.5-7.6-8.1-11.5l-1.5-2.3l80.2-53.3
                            								l1.5,2.3c1.6,2.4,3.3,4.8,5,7.1L130.4,335.6z M54.4,385.6l68.3-51.1c-0.7-1-1.4-1.9-2-2.9l-71,47.3
                            								C51.2,381.2,52.8,383.4,54.4,385.6z M151.4,140.7l-2.1,1.8c-2.2,1.9-4.3,3.8-6.3,5.7l-2,1.9L74.2,80.8l2-1.9
                            								c3.4-3.3,6.9-6.5,10.5-9.5l2.1-1.8L151.4,140.7z M141.2,142.4c0.8-0.8,1.7-1.5,2.5-2.3L88.2,75.3C86.1,77.2,84,79,82,80.9
                            								L141.2,142.4z M120.6,321.5L37.4,370l-1.4-2.4c-2.4-4.1-4.7-8.3-6.8-12.5l-1.2-2.5l86-43.4l1.2,2.5c1.3,2.5,2.6,5,4,7.5
                            								L120.6,321.5z M39.4,362.4l73.7-42.9c-0.5-1-1.1-1.9-1.6-2.9L35.4,355C36.7,357.5,38,360,39.4,362.4z M138.9,152.3l-1.9,2
                            								c-1.9,2.1-3.8,4.2-5.6,6.4l-1.7,2.1l-74.6-60.9l1.7-2.1c3-3.7,6.1-7.3,9.3-10.8l1.9-2L138.9,152.3z M129,155.1
                            								c0.7-0.8,1.4-1.7,2.2-2.5L68.4,94.8c-1.9,2.1-3.7,4.2-5.5,6.4L129,155.1z M112.6,306.4l-88.3,38.3l-1.1-2.5
                            								c-1.9-4.4-3.7-8.8-5.3-13.3l-0.9-2.6l90.5-32.9l0.9,2.6c1,2.6,2,5.3,3.1,7.8L112.6,306.4z M27.2,337.5l78.2-34
                            								c-0.4-1-0.8-2-1.2-3L24,329.6C25,332.3,26.1,334.9,27.2,337.5z M127.9,165.2l-1.6,2.2c-1.6,2.3-3.2,4.6-4.7,7l-1.5,2.3
                            								l-81.4-51.5l1.5-2.3c2.5-4,5.2-8,8-11.8l1.6-2.2L127.9,165.2z M118.4,169.2c0.6-0.9,1.2-1.8,1.8-2.7l-69.2-49.9
                            								c-1.6,2.3-3.2,4.6-4.7,7L118.4,169.2z M106.5,290.6l-92.3,27.5l-0.8-2.6c-1.4-4.6-2.6-9.3-3.7-13.9l-0.6-2.7l93.8-21.7
                            								l0.6,2.7c0.6,2.7,1.3,5.4,2.1,8.1L106.5,290.6z M17.9,311.2l81.7-24.4c-0.3-1-0.6-2-0.8-3.1L15.8,303
                            								C16.4,305.8,17.2,308.5,17.9,311.2z M118.5,179.4l-1.3,2.4c-1.3,2.4-2.6,4.9-3.8,7.5l-1.2,2.5l-87-41.2l1.2-2.5
                            								c2.1-4.3,4.3-8.6,6.6-12.8l1.3-2.4L118.5,179.4z M109.6,184.4c0.5-1,1-1.9,1.5-2.9l-74.7-41.2c-1.3,2.5-2.6,5-3.9,7.6
                            								L109.6,184.4z M102.4,274.3l-95,16.1L7,287.6c-0.8-4.7-1.4-9.4-2-14.2l-0.3-2.7l95.8-10.2l0.3,2.7c0.3,2.8,0.7,5.6,1.1,8.3
                            								L102.4,274.3z M12,284l84.1-14.2c-0.2-1.1-0.3-2.1-0.4-3.2l-84.8,9C11.1,278.4,11.5,281.2,12,284z M111,194.5l-1,2.6
                            								c-1,2.6-2,5.2-2.9,7.9l-0.9,2.6l-91.4-30.3l0.9-2.6c1.5-4.6,3.2-9,4.9-13.4l1-2.6L111,194.5z M102.7,200.6
                            								c0.4-1,0.7-2,1.1-3.1l-79.2-31.8c-1,2.6-2,5.3-2.9,8L102.7,200.6z M100.3,257.6l-96.2,4.3l-0.1-2.7
                            								c-0.2-4.8-0.3-9.5-0.2-14.4l0-2.7l96.3,1.6l0,2.8c-0.1,2.8,0,5.6,0.1,8.4L100.3,257.6z M9.3,256.1l85.2-3.8
                            								c0-1.1,0-2.1,0-3.2l-85.3-1.4C9.2,250.5,9.2,253.3,9.3,256.1z M105.4,210.4l-0.7,2.7c-0.7,2.7-1.4,5.4-1.9,8.1l-0.5,2.7
                            								L7.8,205l0.5-2.7c0.9-4.7,2-9.4,3.3-14l0.7-2.7L105.4,210.4z M97.9,217.4c0.2-1,0.5-2.1,0.7-3.1l-82.4-21.9
                            								c-0.7,2.8-1.3,5.5-1.9,8.3L97.9,217.4z M100.2,240.7l-96-7.4l0.2-2.8c0.4-4.7,0.9-9.5,1.5-14.3l0.4-2.7l95.4,13.3l-0.4,2.7
                            								c-0.4,2.8-0.7,5.6-0.9,8.4L100.2,240.7z M10.1,228.2l85,6.6c0.1-1.1,0.2-2.1,0.3-3.2l-84.5-11.8
                            								C10.7,222.6,10.4,225.4,10.1,228.2z"/>
                            						</g>
                            					</g>
                            				</g>
                            			</g>
                            		</g>
                            	</g>
                            </g>
                        </svg>
                        <svg version="1.1" class="ostea_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                            <style>
                                .st1{fill:#6D6E70;}
                            </style>
                            <g>
                            	<path class="st1" d="M83.4,258.4c0,5-1,9.8-2.9,14.2c-1.9,4.4-4.6,8.3-7.9,11.6c-3.3,3.3-7.2,5.9-11.6,7.8c-4.4,1.9-9.1,2.8-14,2.8
                            		c-5.1,0-9.9-0.9-14.4-2.8c-4.5-1.9-8.4-4.5-11.7-7.8c-3.3-3.3-6-7.2-7.9-11.6c-1.9-4.4-2.9-9.1-2.9-14.2v-14v-15.1
                            		c0-5,1-9.8,2.9-14.2c1.9-4.4,4.6-8.3,7.9-11.6c3.3-3.3,7.2-5.9,11.6-7.8c4.4-1.9,9.1-2.8,14-2.8c5,0,9.8,0.9,14.3,2.8
                            		c4.5,1.9,8.4,4.5,11.8,7.8c3.3,3.3,6,7.2,7.9,11.6c1.9,4.4,2.9,9.1,2.9,14.2v15.1V258.4z M77.2,229.3c0-4.2-0.8-8.1-2.5-11.8
                            		c-1.7-3.7-3.9-6.9-6.6-9.7c-2.8-2.8-6-5-9.8-6.6c-3.7-1.6-7.7-2.5-11.9-2.5c-4.1,0-8,0.8-11.6,2.5c-3.7,1.7-6.9,3.9-9.6,6.6
                            		c-2.7,2.8-4.9,6-6.5,9.7c-1.6,3.7-2.4,7.6-2.4,11.8v15.1v14c0,4.2,0.8,8.1,2.5,11.8c1.6,3.7,3.9,6.9,6.6,9.7c2.8,2.8,6,5,9.8,6.6
                            		c3.7,1.7,7.7,2.5,11.9,2.5c4.1,0,8-0.8,11.6-2.5c3.7-1.6,6.9-3.9,9.6-6.6c2.7-2.8,4.9-6,6.5-9.7c1.6-3.7,2.4-7.6,2.4-11.8v-14
                            		V229.3z"/>
                            	<path class="st1" d="M151.6,294.8c-3.2,0-6.3-0.5-9.3-1.4c-3-0.9-5.7-2.3-8.2-4c-2.5-1.7-4.6-3.9-6.4-6.5c-1.8-2.6-3.1-5.6-3.9-9
                            		c-0.1-0.2-0.1-0.4-0.1-0.7c0-1,0.3-1.7,0.9-2.3c0.6-0.6,1.4-0.9,2.3-0.9c0.8,0,1.4,0.2,2,0.7c0.5,0.5,0.9,1.1,1.1,1.7
                            		c1.2,5.2,3.7,9.2,7.7,11.9c4,2.7,8.6,4,13.8,4c2.6,0,5.1-0.5,7.5-1.6c2.4-1.1,4.4-2.5,6.2-4.4c1.7-1.9,3.1-4.1,4.1-6.6
                            		c1-2.5,1.5-5.2,1.5-8c0-3.8-1.1-7-3.3-9.5c-2.2-2.6-5-4.8-8.3-6.8c-3.3-2-6.9-3.9-10.8-5.7c-3.9-1.8-7.5-3.8-10.8-6.1
                            		c-3.3-2.3-6.1-5-8.3-8.1c-2.2-3.1-3.3-6.9-3.3-11.5c0-3.8,0.7-7.3,2-10.6c1.4-3.2,3.2-6.1,5.5-8.6c2.3-2.5,5-4.4,8.1-5.8
                            		c3.1-1.4,6.4-2.1,9.9-2.1c7.1,0,13.1,2.6,18.2,7.9c0.6,0.6,0.9,1.3,0.9,2.2c0,0.9-0.3,1.6-1,2.3c-0.7,0.6-1.5,0.9-2.3,0.9
                            		c-0.8,0-1.5-0.3-2.2-1c-3.8-4.1-8.3-6.1-13.5-6.1c-2.6,0-5.1,0.5-7.5,1.6c-2.4,1.1-4.4,2.6-6.2,4.4c-1.7,1.9-3.1,4.1-4.1,6.6
                            		c-1,2.5-1.5,5.2-1.5,8.2c0,3.7,1.1,6.8,3.4,9.3c2.2,2.5,5,4.8,8.3,6.8c3.3,2,6.9,3.9,10.8,5.7s7.5,3.9,10.8,6.2
                            		c3.3,2.3,6.1,5.1,8.3,8.2c2.2,3.1,3.4,7,3.4,11.7c0,3.7-0.7,7.2-2,10.5c-1.3,3.3-3.1,6.2-5.5,8.7c-2.3,2.5-5.1,4.4-8.2,5.8
                            		C158.4,294,155.1,294.8,151.6,294.8z"/>
                            	<path class="st1" d="M287.5,197.4c0,0.9-0.3,1.6-0.9,2.2c-0.6,0.6-1.4,0.9-2.3,0.9h-30v91.1c0,0.9-0.3,1.6-1,2.3
                            		c-0.7,0.6-1.4,0.9-2.2,0.9c-0.9,0-1.6-0.3-2.2-0.9c-0.6-0.6-0.9-1.4-0.9-2.3v-91.1h-30.1c-0.9,0-1.6-0.3-2.3-0.9
                            		c-0.6-0.6-0.9-1.3-0.9-2.2c0-0.8,0.3-1.5,0.9-2.1c0.6-0.6,1.4-0.9,2.3-0.9h66.4c0.9,0,1.6,0.3,2.3,0.9
                            		C287.1,195.9,287.5,196.6,287.5,197.4z"/>
                            	<path class="st1" d="M375.6,288.1c0.6,0.6,0.9,1.3,0.9,2c0,0.9-0.3,1.6-0.9,2.3c-0.6,0.6-1.3,0.9-2.2,0.9h-46.3
                            		c-0.9,0-1.6-0.3-2.2-0.9c-0.6-0.6-0.9-1.4-0.9-2.3v-92.7c0-0.9,0.3-1.6,0.9-2.2c0.6-0.6,1.4-0.9,2.3-0.9H372c0.9,0,1.6,0.3,2.2,0.9
                            		c0.6,0.6,0.9,1.3,0.9,2.2s-0.3,1.6-0.9,2.2c-0.6,0.6-1.3,0.9-2.2,0.9h-41.6v39.1H366c0.9,0,1.6,0.3,2.3,0.9
                            		c0.6,0.6,0.9,1.3,0.9,2.2c0,0.9-0.3,1.6-0.9,2.2c-0.6,0.6-1.4,0.9-2.3,0.9h-35.7v41.5h43.1C374.3,287.2,375.1,287.5,375.6,288.1z"
                            		/>
                        		<path class="st1" d="M487.7,295.1c-1.7,0-3-1.4-3-3v-43.6h-43.6c-1.7,0-3-1.4-3-3c0-1.7,1.4-3,3-3h43.6v-12.1
                            			c0-16.2-13.7-29.4-30.6-29.4s-30.6,13.2-30.6,29.4v61.8c0,1.7-1.4,3-3,3s-3-1.4-3-3v-61.8c0-19.6,16.4-35.5,36.7-35.5
                            			s36.7,15.9,36.7,35.5v61.8C490.7,293.8,489.3,295.1,487.7,295.1z"/>
                            </g>
                            </svg>
                    </a>
                </div>
                
                <div class="ui five stackable item menu">
                    <a class="item <% if (url == "") { %> active <% } %>" href="/">
                        Accueil
                    </a>
                    <a class="item <% if (url == "osteopathie") { %> active <% } %>" href="/osteopathie">
                        L'Osteopathie
                    </a>
                    <a class="item <% if (url == "service") { %> active <% } %>" href="/service">
                        Service
                    </a>
                    <a class="item <% if (url == "apropos") { %> active <% } %>" href="/apropos">
                        A Propos
                    </a>
                    <a class="item <% if (url == "contact") { %> active <% } %>" href="/contact">
                        Contact
                    </a>
                </div>
                
                <div id="main_content">