<% include partials/header %>
<% include partials/menu %>

<div class="ui stackable grid">
    <div class="six wide column">
        <img class="ui centered bordered image" src="http://www.actionsportphysio.com/media/uploads/services/images/services/Osteopathy_.jpg">
    </div>
    <div class="ten wide column">
        <div class="ui message">
            <div class="header">
                A propos
            </div>
            <p>Tous nos ostéopathes sont titulaires du diplôme national d’ostéopathie délivré au bout d’une formation de 5000 heures dispensées en 5 ans ; issues d’école agrées par le ministère de la santé et suivant une formation reconnue par l’OMS afin de garantir aux entreprises des intervenants de qualité.</p>
        </div>
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>