<% include partials/header %>
<% include partials/menu %>

<div class="ui stackable grid">
    <div class="six wide column">
        <img class="ui centered bordered image" src="http://www.nhs.uk/Conditions/Osteopathy/PublishingImages/101929907-osteo-342x198.jpg">
    </div>
    <div class="ten wide column">
        <div class="ui message">
            <div class="header">
                Contact
            </div>
            <ul>
                <li>
                    Email: Ostea@gmail.com
                </li>
                <li>
                    Phone: 0625341929
                </li>
            </ul>
        </div>
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>