<% include partials/header %>
<% include partials/menu %>

<div class="ui stackable grid">
    <div class="six wide column">
        <img class="ui centered bordered image" src="http://www.nhs.uk/Conditions/Osteopathy/PublishingImages/101929907-osteo-342x198.jpg">
    </div>
    <div class="ten wide column">
        <div class="ui message">
            <div class="ui header">
                Contact
            </div>
            <p>
                <i class="doctor outline icon"></i>
                Emmanuel Soly - Fondateur Ostéa Santé
            </p>
            <p>
                <a href="mailto:ostea.sante@gmail.com">
                    <i class="mail outline icon"></i>
                    ostea.sante@gmail.com
                </a>
            </p>
            <p>
                <a href="tel:+33625341929">
                    <i class="phone icon"></i>
                    06.25.34.19.29
                </a>
            </p>
        </div>
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>