<% include partials/header %>

<div class="ui grid">
    <div class="four wide column">
        <img class="ui bordered image" src="http://bournemouthclinic.co.uk/saxon/wp-content/uploads/2010/10/small_10519738.jpg">
    </div>
    <div class="twelve wide column">
        <div class="ui message">
            <div class="header">
                Bienvenue
            </div>
            <p><!>Site en Construction<!><br><br>Futur site d'Ostea blablabla blabla blablabiblateblabla blalbl a  blablabla bla  blablabla bla blablabla bla blablabla bla blablabla bla blablabla bla</p>
        </div>
    </div>
    <div class="sixteen wide column">
        
        <div class="ui horizontal divider">
            Fil d'Actualité
        </div>
        
        <div class="ui message">
            <div class="header">
                Grand Nouveauté en Médecine
            </div>
            <p>Okay Futur site d'Ostea blablabla blabla blablabiblateblabla blalbl a  blablabla bla  blablabla bla blablabla bla blablabla bla blablabla bla blablabla bla</p>
        </div>
        
        <div class="ui message">
            <div class="header">
                Késako?
            </div>
            <p>Okay Futur site d'Ostea blablabla blabla blablabiblateblabla blalbl a  blablabla bla  blablabla bla blablabla bla blablabla bla blablabla bla blablabla bla</p>
        </div>
        
        <div class="ui message">
            <div class="header">
                Prout
            </div>
            <p>Okay Futur site d'Ostea blablabla blabla blablabiblateblabla blalbl a  blablabla bla  blablabla bla blablabla bla blablabla bla blablabla bla blablabla bla</p>
        </div>
        
    </div>
</div>

<% include partials/footer %>