<% include partials/header %>

<div id="global_form_container">
    <form class="ui form" id="standalone_form" action="/login" method="POST">
        <div class="field">
            <label>Utilisateur</label>
            <input type="text" name="username">
        </div>
        <div class="field">
            <label>Mot de Passe</label>
            <input type="password" name="password">
        </div>
        <button class="ui button primary validate_button" type="submit">Connexion</button>
    </form>
    <div class="ui buttons">
        <a href="/">
            <button class="ui icon button back_button">
                <i class="left chevron icon"></i>
                Retour Accueil
            </button>
        </a>
    </div>
</div>

<% include partials/end %>