<!DOCTYPE html>
<html>
    <head>
        <title>Ostea</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    </head>
    <body>
        <div id="content_wrapper">
            <div class="ui container login_form_container">  
                <form class="ui form" id="standalone_form">
                    <div class="field login_form">
                        <label>Utilisateur</label>
                        <input type="text" name="user">
                    </div>
                    <div class="field login_form">
                        <label>Mot de Passe</label>
                        <input type="password" name="password">
                    </div>
                    <button class="ui button primary login_form" type="submit">Connexion</button>
                </form>
                <div class="ui buttons login_form">
                    <a href="/">
                        <button class="ui icon button" id="back_button">
                            <i class="left chevron icon"></i>
                            Retour Accueil
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>