<% include partials/header %>
<% include partials/menu %>

<div class="ui stackable grid">
    <div class="sixteen wide column">
        <p>
            L'organisation Mondiale de la Santé (OMS) définit l'ostéopathie comme une médecine à part entière.
            <br><br>
            L’ostéopathie est une médecine manuelle, qui par une connaissance approfondie de l’anatomie et de la physiologie, permet d’établir un diagnostic afin d’identifier et de traiter les zones à l’origine d’une gêne ou d’une douleur.
            <br><br>
            Mais il faut savoir que ce n’est pas une méthode uniquement curative: pratiquée de manière préventive, l’ostéopathie contribue à maintenir le bon équilibre de votre corps, le rendant ainsi moins vulnérable aux agressions extérieures (stress, pathologies, chutes…).
            <br><br>
            L’ostéopathe dispose de différentes approches thérapeutiques qu’il adapte aux besoins spécifiques du patient.
            <br><br>
            L’ostéopathe a donc les compétences nécessaires pour prendre en charge diverses pathologies:
            <br><br>
            Traiter les douleurs articulaires et musculaires : sciatiques, lumbagos, cervicalgies, dorsalgies, tendinites, entorses.
            <br><br>
            Soulager les états d’anxiété, de stress, d’hypernervosité.
            <br><br>
            Soulager le système digestif : acidité gastrique, trouble du transit, digestion difficile.
            <br><br>
            Favoriser la récupération : troubles circulatoires, congestion veineuse.
            <br><br>
            Apaiser les état migraineux, maux de tête, vertiges.
            <br><br>
            Prévenir, informer, conseiller pour le bien être du patient.
        </p>
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>