<% include partials/header %>
<% include partials/menu %>


<div class="ui stackable grid">
    
    <div class="four wide column">
        <img class="ui centered bordered image" src="http://www.osteopathe-avignon.fr/images/image_osteo_03.jpg">
    </div>
    <div class="twelve wide column">
        <h1 class="ui medium header">
            L'organisation Mondiale de la Santé (OMS) définit l'ostéopathie comme une médecine à part entière.
        </h1>
        <p>
        L’ostéopathie est une médecine manuelle, qui par une connaissance approfondie de l’anatomie et de la physiologie, permet d’établir un diagnostic afin d’identifier et de traiter les zones à l’origine d’une gêne ou d’une douleur.
        <br><br>
        Mais il faut savoir que ce n’est pas une méthode uniquement curative: pratiquée de manière préventive, l’ostéopathie contribue à maintenir le bon équilibre de votre corps, le rendant ainsi moins vulnérable aux agressions extérieures (stress, pathologies, chutes…).
        <br><br>
        L’ostéopathe dispose de différentes approches thérapeutiques qu’il adapte aux besoins spécifiques du patient.
        <br><br>
        L’ostéopathe a donc les compétences nécessaires pour prendre en charge diverses pathologies:
        <ul class="ui list">
            <li>Traiter les douleurs articulaires et musculaires : sciatiques, lumbagos, cervicalgies, dorsalgies, tendinites, entorses</li>
            <li>Soulager les états d’anxiété, de stress, d’hypernervosité</li>
            <li>Soulager le système digestif : acidité gastrique, trouble du transit, digestion difficile</li>
            <li>Favoriser la récupération : troubles circulatoires, congestion veineuse.</li>
            <li>Apaiser les état migraineux, maux de tête, vertiges</li>
        </ul>
        </p>
    </div>
</div>


        
<div class="ui stackable grid split_elements">
    <div class="ten wide column">
        <div class="ui segment paddingupdown">
                
            <div class="ui horizontal divider spliter splitspecial">
                <p>
                    Pourquoi avoir un système de prise en charge efficace au sein de votre entreprise:
                </p>
            </div>
            
            <ul class="ui list">
                <li>
                    <b>25%</b> des salariés souffrent de stress au travail, <b>27%</b>  de maux de dos et <b>23%</b> de douleurs musculaires
                </li>
                <li>
                    <b>85%</b> des maladies professionnelles sont des <b>TMS</b> ou des <b>RPS</b>.
                </li>
                
            </ul>
        
            <div class="ui info message">
                <div class="ui list">
                    <div class="item">
                        <b>TMS</b> (Troubles Musculo-Squelettiques) : Première maladies professionnels en France
                    </div>
                    <div class="item">
                        <b>RPS</b> (Risques Psychosociaux) : 50% de l’absentéisme en France
                    </div>
                </div>
            </div>
            
            <ul class="ui list">
                <li>
                    <b>83%</b> des motifs de consultation en cabinet sont en relation direct avec la profession du patient.
                </li>
                <li>
                    <b>1€</b> investi dans la promotion de la santé au travail, génère un retour sur investissement de <b>2,5 à 4,8</b>
                </li>
                <li>
                    L’absentéisme en France représente en moyenne <b>16.6j/an/salarié</b>.
                </li>
                <li>
                    <b>59%</b> des DRH estiment que le taux d’absentéisme est directement lié à l’état de santé des employés
                </li>
            </ul>
            
        </div>
    </div>
    <div class="six wide column">
        <img class="ui centered bordered image" src="http://static1.squarespace.com/static/542322c1e4b0b8239434bb6e/t/543129c4e4b0c4b6b9290037/1412508102166/osteopathy-halifax.jpg?format=2500w">
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>