<% include partials/header %>
<% include partials/menu %>

<div class="ui info message">
    <div class="ui stackable centered grid">
        <div class="fourteen wide column">
            <p>
                <b>OSTEA fournie des prestations de santé au sein de votre entreprise afin de prendre en charge les TMS, ainsi que le stress dans le but d’améliorer significativement la qualité de vie des employés au sein de l’entreprise.</b>
            </p>
        </div>
    </div>
</div>

<div class="ui stackable two column grid divider_container split_elements">
    <div class="column">
        <div class="ui header">
            Employés
        </div>
        <ul class="ui list">
            <li>
                Diminution des douleurs
            </li>
            <li>
                Prise en charge du stress
            </li>
            <li>
                Optimisation des postes de travail
            </li>
            <li>
                Diagnostic précoce des TMS
            </li>
            <li>
                Gain de temps et facilité de prise en charge par un spécialiste
            </li>
            <li>
                Diminution de prise de médicaments et donc diminution des effets secondaires
            </li>
            <li>
                Améliore le confort au travail
            </li>
            <li>
                Accès à des spécialistes à moindre coût
            </li>
        </ul>
    </div>
    <div class="column">
        <div class="ui header">
            Entreprises
        </div>
        <ul class="ui list">
            <li>
                Diminution des couts liés aux arrêts de travail (couts directs et couts de régulation)
            </li>
            <li>
                Diminution de l’absentéisme (22,7%)
            </li>
            <li>
                Diminution du turn over
            </li>
            <li>
                Attractivité de l’entreprise
            </li>
            <li>
                Augmentation de la productivité
            </li>
            <li>
                Amélioration du climat social
            </li>
            <li>
                Une solution sur mesure
            </li>
            <li>
                Gestion administrative minimale
            </li>
        </ul>
    </div>
</div>


<div class="ui message split_elements">
    <div class="header">
    </div>
    <p>Tous nos ostéopathes sont titulaires du diplôme national d’ostéopathie délivré au bout d’une formation de 5000 heures dispensées en 5 ans ; issues d’écoles agrées par le ministère de la santé et suivant une formation reconnue par l’OMS afin de garantir aux entreprises des intervenants de qualité.</p>
</div>

<% include partials/footer %>
<% include partials/end %>