<% include partials/header %>
<% include partials/menu %>

<div class="ui stackable grid">
    <div class="six wide column">
        <img class="ui centered bordered image" src="http://static1.squarespace.com/static/542322c1e4b0b8239434bb6e/t/543129c4e4b0c4b6b9290037/1412508102166/osteopathy-halifax.jpg?format=2500w">
    </div>
    <div class="ten wide column">
        <div class="ui message">
            <div class="header">
                Pourquoi avoir un système de prise en charge efficace au sein de votre entreprise:
            </div>
            
            <ul class="ui list">
                <li>
                    <b>25%</b> des salariés souffrent de stress au travail, <b>27%</b>  de maux de dos et <b>23%</b> de douleurs musculaires
                </li>
                <li>
                    <b>85%</b> des maladies professionnelles sont des <b>TMS</b> ou des <b>RPS</b>.
                </li>
                <li>
                    <b>83%</b> des motifs de consultation en cabinet sont en relation direct avec la profession du patient.
                </li>
            </ul>
        </div>
        <div class="ui info message">
            <ul class="ui list">
                <li>
                    <b>TMS</b> (Troubles musculo-squelettiques : Première maladies professionnels en France
                </li>
                <li>
                    <b>RPS</b> (Risques psychosociaux) : 50% de l’absentéisme en France
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="ui stackable grid">

    <div class="twelve wide column">
        <div class="ui message">
            <div class="header">
                Pourquoi avoir un système de prise en charge efficace au sein de votre entreprise:
            </div>
            
            <ul class="ui list">
                <li>
                    <b>1€</b> investi dans la promotion de la santé au travail, génère un retour sur investissement de <b>2,5 à 4,8</b>
                </li>
                <li>
                    L’absentéisme en France représente en moyenne <b>16.6j/an/salarié</b>.
                </li>
                <li>
                    <b>59%</b> des DRH estiment que le taux d’absentéisme est directement lié à l’état de santé des employés
                </li>
            </ul>
            
            <p>
                OSTEA fournie des prestations de santé au sein de votre entreprise afin de prendre en charge les TMS, ainsi que le stress dans le but d’améliorer significativement la qualité de vie des employés au sein de l’entreprise.
            </p>
        </div>
    </div>
    
    <div class="four wide column">
        <img class="ui centered bordered image" src="http://www.osteopathe-avignon.fr/images/image_osteo_03.jpg">
    </div>
    
</div>

<div class="ui stackable two column grid divider_container">
    <div class="column">
        <div class="header">
            Employés
        </div>
        <ul class="ui list">
            <li>
                Diminution des douleurs
            </li>
            <li>
                Prise en charge du stress
            </li>
        </ul>
    </div>
    <div class="ui vertical divider">
        or
    </div>
    <div class="column">
        <div class="header">
            Entreprises
        </div>
        <ul class="ui list">
            <li>
                Diminution des douleurs
            </li>
            <li>
                Prise en charge du stress
            </li>
        </ul>
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>