<% include partials/header %>
<% include partials/menu %>

<div class="ui info message">
    <div class="ui stackable centered grid">
        <div class="fourteen wide column">
            <p class="textaligner">
                <b>Ostéa Santé fournit des prestations de santé au sein de votre entreprise afin de prendre en charge les TMS ainsi que le stress dans le but d’améliorer significativement la qualité de vie des employés au sein de l’entreprise.</b>
            </p>
        </div>
    </div>
</div>

<div class="ui segment split_elements paddingupdown">
    <div class="ui horizontal divider spliter">
        Notre mode opératoire
    </div>
    <ol class="ui list">
        <li>
            - Nous étudions avec vous vos besoins afin de <b>vous fournir un service adapté</b> (quantité et fréquence des consultations).
        </li>
        <li>
            - Dans un souci de simplification des démarches, <b>nos ostéopathes s’occupent de prendre les rendez-vous</b> directement auprès de vos collaborateurs.
        </li>
        <li>
            <b>- Nos ostéopathes se déplacent avec tout le matériel médical nécessaire</b>, votre entreprise doit simplement fournir un local pour garantir le bon déroulement et la discrétion des consultations.
        </li>
        <li>
            - À la fin de chaque consultation, nos ostéopathes mettent à jour le dossier patient pour <b>permettre un suivi médical efficace sur le long terme</b>.
        </li>
        <li>
            - Nos prestations sont prises en charge (totalement ou partiellement) par votre mutuelle santé: <b>Vos coûts resteront donc minimes!</b>
        </li>
    </ol>
</div>

<div class="ui stackable two column grid divider_container split_elements">
    <div class="column">
        <div class="ui header">
            Pour vos collaborateurs
        </div>
        <ul class="ui list">
            <li>
                Diminution des douleurs
            </li>
            <li>
                Prise en charge du stress
            </li>
            <li>
                Optimisation des postes de travail
            </li>
            <li>
                Diagnostic précoce des TMS
            </li>
            <li>
                Gain de temps et facilité de prise en charge par un spécialiste
            </li>
            <li>
                Diminution de prise de médicaments et donc diminution des effets secondaires
            </li>
            <li>
                Amélioration du confort au travail
            </li>
            <li>
                Accès à des spécialistes à moindre coût
            </li>
        </ul>
    </div>
    <div class="column">
        <div class="ui header">
            Pour votre entreprise
        </div>
        <ul class="ui list">
            <li>
                Diminution des coûts liés aux arrêts de travail (coûts directs et coûts de régulation)
            </li>
            <li>
                Diminution de l’absentéisme (22,7%)
            </li>
            <li>
                Diminution du turn over
            </li>
            <li>
                Attractivité de l’entreprise
            </li>
            <li>
                Augmentation de la productivité
            </li>
            <li>
                Amélioration du climat social
            </li>
            <li>
                Une solution sur mesure
            </li>
            <li>
                Gestion administrative minimale
            </li>
        </ul>
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>