/* General styling */

html {
    height:100%;
}

body {
    margin:0;
    padding:0;
    min-height:100%;
}

.ui.container {
	padding-bottom: 100px;
}

/* Logo styling */

#top_logo {
    text-align:center;
    padding-top:25px;
    margin-bottom:20px;
}

.ostea_logo {
    margin-right:0.6em;
    height:100px;
}

.st0{
    fill:url(#SVGID_1_);
}

.st1{
    fill:#6D6E70;
}

@media only screen and (max-width: 767px) {
        .ostea_logo {
        height:60px;
    }
}

/* Footer styling */

#credit {
    text-align:center;
    line-height:40px;
}

#footer {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    background-color: rgba(0,0,0,.05);
    clear:both;
    position:absolute;
    bottom:0;
    left:0;
}

/* Main content styling (content_wrapper for sticky footer)*/

#main_content {
    margin-top:50px;
}

.presentation{
    background-image: url(http://www.ostea-sante.com/images/accueil.png) !important;
    background-size:     cover !important;
    background-repeat:   no-repeat !important;
    background-position: center center !important;
    font-size: 1.1em !important;
}

@media only screen and (max-width: 767px) {
    .blurry{
        margin: 10px !important;
    }
}

.blurry{
    background: rgba(110,192,209,0.65);
    color: #EBEFEA !important;
    margin: 50px 20px 50px 20px !important;
    padding: 20px;
    text-align: center;
}

.spliter{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    color: #5EBBC2 !important;
}

.header{
    margin-bottom: 10px !important;
}

.conteuner{
    text-align: center;
}

.nomargtop{
    margin-top:0px !important;
}

.nopaddingtop{
    padding-top:0px !important;
}

.paddingupdown{
    padding-top:10px !important;
    padding-bottom:30px !important;
}

.ui.horizontal.divider.spliter.splitspecial:after, .ui.horizontal.divider.spliter.splitspecial:before{
    width:14% !important;
}

.ui.horizontal.divider.spliter.splitspecial{
    white-space: inherit !important;
}

.equalpaddingupdown{
    padding-top:30px !important;
    padding-bottom:30px !important; 
}

.nopoint{
    list-style-type: circle !important; 
}

#content_wrapper {
    min-height:100%;
    position:relative;
}

.textaligner {
    text-align:center;
}

.active {
    color: #5EBBC2 !important
}

#delete-form {
    display:inline;
}

.divider_container {
    position: relative;
}

#global_form_container {
    text-align: center;
    padding:3em 0 3em 0;
}

.validate_button {
    margin-top:10px !important;
}

.back_button {
    margin-top:2em !important;
}

#standalone_form {
    max-width:400px;
    margin-right:auto !important;
    margin-left:auto !important;
    padding:0 5px 0 5px;
}

.split_elements {
    margin-top:30px !important;
}

.nostyle {
    list-style-type: none;
}