<% include ../partials/header %>

<div id="global_form_container">
    <h1 class="ui medium header">Ajouter une news</h1>
    <form class="ui form" id="standalone_form" action="/" method="POST">
        <div class="field">
            <label>Titre</label>
            <input type="text" name="news[title]">
        </div>
        <div class="field">
            <label>Text</label>
            <textarea name="news[content]"></textarea>
        </div>
        <div class="field">
            <label>Lien de l'image</label>
            <input type="text" name="news[imagedest]">
        </div>
        <div class="field">
            <label>Lien de l'article</label>
            <input type="text" name="news[link]">
        </div>
        <button class="ui button positive validate_button" type="submit">Ajouter</button>
    </form>
    <div class="ui buttons">
        <a href="/">
            <button class="ui icon button back_button">
                <i class="left chevron icon"></i>
                Retour Accueil
            </button>
        </a>
    </div>
</div>

<% include ../partials/end %>